@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}


li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style-type: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover{
    color: rgb(117, 212, 117);
}

button{
    padding: 9px 25px;
    background-color: rgba(117, 212, 117, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgb(70, 129, 70, 0.8);
}


.texto{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    border-radius: 10px;
    color: whitesmoke;
    
}

.texto > a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    background-color:#24252a;
    font-size: 20px;
    color: rgb(117, 212, 117);

}



h1{
    text-align: center;
    margin-top: 5%;
    color: rgb(117, 212, 117);

}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: center;
    margin-top: 2%;
}

.flex-item{
    height: 10%;
}

.imagem:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: #3d3e41;
}